# Raw Data Loading
### Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
f = './Resources/all_races05_19.csv'
X = pd.read_csv(f)

C:\Anaconda38\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Baseod on the various columns explored, two models will be run:
1. numerical categories column
2. both numerical and categorical columns, that is combination of fundamental features of the horse and market generated information in an explicit manner.
This will help facilitate understanding of how to utilise publicly available information.

In [3]:
X.head(2)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125,0.05585,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200,0.08936,0,1932.0

In [4]:
# Take a look at the shape of DataFrame
X.shape

(744347, 42)

In [5]:
# Take a look at the column variable
X.columns

Index(['race_ID', 'date', 'course', 'time', 'race_name', 'class', 'band',
       'dist.f.', 'dist.m.', 'going', 'season', 'race_group', 'race_type',
       'Month', 'Year', 'Period', 'Runners', 'Race_Money', 'horse_name',
       'trainer', 'jockey', 'pos', 'btn', 'sp', 'dec', 'age', 'weight', 'lbs',
       'gear', 'fin_time', 'or', 'ts', 'rpr', 'sire', 'dam', 'damsire',
       'comment', 'dec_clean', 'prob', 'exp_chance', 'act_score',
       'prize_money'],
      dtype='object')

In [6]:
X.dtypes

race_ID         object
date            object
course          object
time            object
race_name       object
class           object
band            object
dist.f.        float64
dist.m.          int64
going           object
season           int64
race_group      object
race_type       object
Month          float64
Year           float64
Period          object
Runners          int64
Race_Money     float64
horse_name      object
trainer         object
jockey          object
pos             object
btn             object
sp              object
dec            float64
age              int64
weight          object
lbs              int64
gear            object
fin_time        object
or             float64
ts             float64
rpr            float64
sire            object
dam             object
damsire         object
comment         object
dec_clean      float64
prob           float64
exp_chance     float64
act_score        int64
prize_money    float64
dtype: object

In [7]:
# Take a look at the column variable
X.columns

Index(['race_ID', 'date', 'course', 'time', 'race_name', 'class', 'band',
       'dist.f.', 'dist.m.', 'going', 'season', 'race_group', 'race_type',
       'Month', 'Year', 'Period', 'Runners', 'Race_Money', 'horse_name',
       'trainer', 'jockey', 'pos', 'btn', 'sp', 'dec', 'age', 'weight', 'lbs',
       'gear', 'fin_time', 'or', 'ts', 'rpr', 'sire', 'dam', 'damsire',
       'comment', 'dec_clean', 'prob', 'exp_chance', 'act_score',
       'prize_money'],
      dtype='object')

## Data Pre-processing

In [8]:
# Check categorical columns by obtaining unique object variables
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'race_ID' has 72896 unique categories
Feature 'date' has 4727 unique categories
Feature 'course' has 75 unique categories
Feature 'time' has 220 unique categories
Feature 'race_name' has 47228 unique categories
Feature 'class' has 70 unique categories
Feature 'band' has 57 unique categories
Feature 'going' has 13 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'Period' has 178 unique categories
Feature 'horse_name' has 79591 unique categories
Feature 'trainer' has 3766 unique categories
Feature 'jockey' has 3108 unique categories
Feature 'pos' has 41 unique categories
Feature 'btn' has 1758 unique categories
Feature 'sp' has 220 unique categories
Feature 'weight' has 99 unique categories
Feature 'gear' has 26 unique categories
Feature 'fin_time' has 30968 unique categories
Feature 'sire' has 2900 unique categories
Feature 'dam' has 43027 unique categories
Feature 'damsire' has 3793 unique categories
Feature 'comment' has 703853 unique categories

In [9]:
# Check unique numerical variables
for col_name in X.columns:
    if X[col_name].dtypes == 'float64':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'dist.f.' has 48 unique categories
Feature 'Month' has 13 unique categories
Feature 'Year' has 16 unique categories
Feature 'Race_Money' has 4721 unique categories
Feature 'dec' has 95 unique categories
Feature 'or' has 155 unique categories
Feature 'ts' has 181 unique categories
Feature 'rpr' has 192 unique categories
Feature 'dec_clean' has 95 unique categories
Feature 'prob' has 95 unique categories
Feature 'exp_chance' has 555032 unique categories
Feature 'prize_money' has 14962 unique categories

In [10]:
X.head(5)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125000,0.055850,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200000,0.089360,0,1932.0
2,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,95.0,Accordion (IRE),Molly Blaney (GB),Kemal,Tracked leaders - improved to lead approaching...,3.5,0.222222,0.099289,0,852.0
3,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,92.0,Supreme Leader (GB),Rath Caola (GB),Neltino,Mid-division - progress into 8th approaching s...,12.0,0.076923,0.034369,0,492.0
4,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,87.0,Beneficial (GB),Gilt Course (GB),Crash Course,Mid-division - progress from halfway - 4th app...,16.0,0.058824,0.026282,0,0.0

# Drop Irrelevant Columns (Features with similar meanings)

In [11]:
X_df = X.drop(['band','class','time','dist.f.','Month', 'Year', 'Period', 'Runners','fin_time', 'dec','weight','dec_clean','btn','sp','or','rpr','exp_chance','prob'],axis=1)
X_df.head(2)

,race_ID,date,course,race_name,dist.m.,going,season,race_group,race_type,Race_Money,...,age,lbs,gear,ts,sire,dam,damsire,comment,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,3600,Heavy,5,Bumper,Even,11568.0,...,5,155,NaN,NaN,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,3600,Heavy,5,Bumper,Even,11568.0,...,5,160,NaN,NaN,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,0,1932.0

In [12]:
#Drop NaN Values
X_df = X_df.dropna()
X_df.shape

(140439, 24)

In [13]:
#Rename Columns
X_df.rename(columns={'date': 'Date', 'dist.m.': 'Distance_covered', 'pos': 'Track_position', 'lbs': 'Weight', 'ts': 'Top_speed', 'act_score': 'Winner', 'going': 'Track_condition','trainer': 'Trainer','jockey': 'Jockey','gear':'Gear'}, inplace=True)
X_df.head(5)

,race_ID,Date,course,race_name,Distance_covered,Track_condition,season,race_group,race_type,Race_Money,...,age,Weight,Gear,Top_speed,sire,dam,damsire,comment,Winner,prize_money
189,RID1169-IE-05,2005-06-02,Punchestown,Sheilas Cottage (Mares) Maiden Hurdle,3200,Good To Firm,5,Hurdle,Handicap,11568.0,...,5,157,t,93.0,Desert Style (IRE),Lough N Uisce (IRE),Boyne Valley,Held up - progress into mid-division halfway -...,0,852.0
191,RID1169-IE-05,2005-06-02,Punchestown,Sheilas Cottage (Mares) Maiden Hurdle,3200,Good To Firm,5,Hurdle,Handicap,11568.0,...,4,150,t,79.0,Bob Back (USA),Guest Cailin (IRE),Be My Guest,Mid-division 8th approaching 3 out - 6th after...,0,0.0
297,RID1960-IE-05,2005-12-29,Limerick,Noel Kierans Memorial INH Flat Race,3600,Heavy,5,Bumper,Even,10122.0,...,5,161,t,36.0,Witness Box (USA),Welsh Sitara (IRE),Welsh Term,Led and disputed - strongly pressed and headed...,0,1690.5
387,RID1854-IE-05,2005-12-11,Cork,J.B.C. Maiden Hurdle,3200,Heavy,5,Hurdle,Handicap,12532.0,...,4,161,t,33.0,Croco Rouge (IRE),Petit Point (IRE),Petorius,Chased leaders - closer in 2nd 3 out - led fro...,1,8983.0
432,RID2335-IE-05,2006-04-16,Fairyhouse,tote.ie Novice Handicap Hurdle,3200,Good To Yielding,5,Hurdle,Handicap,21690.0,...,5,134,t,89.0,Zaffaran (USA),Native Lisa (IRE),Be My Native,Towards rear - stayed on well from 3 out,0,697.5

In [14]:
# print out object columns to know number of unique features
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'object':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'race_ID' has 50925 unique categories
Feature 'Date' has 4654 unique categories
Feature 'course' has 67 unique categories
Feature 'race_name' has 34348 unique categories
Feature 'Track_condition' has 10 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'horse_name' has 27664 unique categories
Feature 'Trainer' has 2305 unique categories
Feature 'Jockey' has 1861 unique categories
Feature 'Track_position' has 30 unique categories
Feature 'Gear' has 25 unique categories
Feature 'sire' has 1979 unique categories
Feature 'dam' has 20428 unique categories
Feature 'damsire' has 2639 unique categories
Feature 'comment' has 138363 unique categories

In [15]:
#Print out numerical columns
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'float64':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3780 unique categories
Feature 'Top_speed' has 175 unique categories
Feature 'prize_money' has 7205 unique categories

#### Reduce the number of unique values by binning 'rare' categorical variables on:

a. jockey
b. trainer
c. track condition
d. gear

In [16]:
X_df['Jockey'].value_counts().head(7)
# Reduce categorical variables (jockey)
jockey_others = X_df['Jockey'].value_counts().loc[lambda x: x<2700]
application_to_replace = jockey_others.index.tolist()
for j in application_to_replace:
    X_df['Jockey'] = X_df['Jockey'].replace(j,"other")
# Confirm binning was successful
X_df['Jockey'].value_counts(sort=True).reset_index()

             index  Jockey
0            other  134878
1  Richard Johnson    2792
2    Tom Scudamore    2769

In [17]:
X_df['Trainer'].value_counts().head(10)
# Reduce categorical variables (trainer)
trainer_others = X_df['Trainer'].value_counts().loc[lambda x: x<3000]
application_to_replace = trainer_others.index.tolist()
for t in application_to_replace:
    X_df['Trainer'] = X_df['Trainer'].replace(t,"other")
# Confirm binning was successful
X_df['Trainer'].value_counts(sort=True).reset_index()

            index  Trainer
0           other   133882
1  Gordon Elliott     3299
2      David Pipe     3258

In [18]:
X_df['Track_condition'].value_counts().head(10)
# Reduce categorical variables (Track_condition)
track_others = X_df['Track_condition'].value_counts().loc[lambda x: x<18000]
application_to_replace = track_others.index.tolist()
for t in application_to_replace:
    X_df['Track_condition'] = X_df['Track_condition'].replace(t,"other")
# Confirm binning was successful
X_df['Track_condition'].value_counts(sort=True).reset_index()

          index  Track_condition
0          Good            54530
1         other            42630
2          Soft            23507
3  Good To Soft            19772

In [19]:
# Reduce categorical variables (course)
X_df['course'].value_counts().head(10)
course_others = X_df['course'].value_counts().loc[lambda x: x<4000]
application_to_replace = course_others.index.tolist()
for c in application_to_replace:
    X_df['course'] = X_df['course'].replace(c,"other")
# Confirm binning was successful
X_df['course'].value_counts(sort=True).reset_index()

        index  course
0       other  123065
1   Uttoxeter    4910
2   Worcester    4322
3    Fontwell    4080
4  Cheltenham    4062

In [20]:
# Reduce categorical variables (gear)
X_df['Gear'].value_counts().head(10)
gear_others = X_df['Gear'].value_counts().loc[lambda x: x<10000]
application_to_replace = gear_others.index.tolist()
for g in application_to_replace:
    X_df['Gear'] = X_df['Gear'].replace(g,"other")
# Confirm binning was successful
X_df['Gear'].value_counts(sort=True).reset_index()

   index   Gear
0      t  47780
1      p  36648
2  other  25611
3      b  19498
4     tp  10902

In [21]:
#Replace Disqualified positon in the race with zero(0)
X_df["Track_position"].value_counts()

2      19630
3      19168
1      18975
4      17677
5      15591
6      12567
7       9681
8       7479
9       5602
10      4033
11      2976
12      2146
13      1519
14      1062
15       722
16       517
17       354
18       220
19       139
20        92
DSQ       90
21        76
22        59
23        28
24        15
26         8
25         8
27         2
28         2
REF        1
Name: Track_position, dtype: int64

In [22]:
# Replace disqualified position (DSQ) as 0
dX=X_df.replace(to_replace="DSQ",value=0)

In [23]:
dX.head(2)

,race_ID,Date,course,race_name,Distance_covered,Track_condition,season,race_group,race_type,Race_Money,...,age,Weight,Gear,Top_speed,sire,dam,damsire,comment,Winner,prize_money
189,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,5,157,t,93.0,Desert Style (IRE),Lough N Uisce (IRE),Boyne Valley,Held up - progress into mid-division halfway -...,0,852.0
191,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,4,150,t,79.0,Bob Back (USA),Guest Cailin (IRE),Be My Guest,Mid-division 8th approaching 3 out - 6th after...,0,0.0

In [24]:
dX.dtypes

race_ID              object
Date                 object
course               object
race_name            object
Distance_covered      int64
Track_condition      object
season                int64
race_group           object
race_type            object
Race_Money          float64
horse_name           object
Trainer              object
Jockey               object
Track_position       object
age                   int64
Weight                int64
Gear                 object
Top_speed           float64
sire                 object
dam                  object
damsire              object
comment              object
Winner                int64
prize_money         float64
dtype: object

In [25]:
dX = dX.replace(to_replace="REF",value=30)

In [26]:
final_df = dX.astype({"Track_position": float})

In [27]:
final_df.dtypes

race_ID              object
Date                 object
course               object
race_name            object
Distance_covered      int64
Track_condition      object
season                int64
race_group           object
race_type            object
Race_Money          float64
horse_name           object
Trainer              object
Jockey               object
Track_position      float64
age                   int64
Weight                int64
Gear                 object
Top_speed           float64
sire                 object
dam                  object
damsire              object
comment              object
Winner                int64
prize_money         float64
dtype: object

In [28]:
# Print object variable column
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'object':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'race_ID' has 50925 unique categories
Feature 'Date' has 4654 unique categories
Feature 'course' has 5 unique categories
Feature 'race_name' has 34348 unique categories
Feature 'Track_condition' has 4 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'horse_name' has 27664 unique categories
Feature 'Trainer' has 3 unique categories
Feature 'Jockey' has 3 unique categories
Feature 'Gear' has 5 unique categories
Feature 'sire' has 1979 unique categories
Feature 'dam' has 20428 unique categories
Feature 'damsire' has 2639 unique categories
Feature 'comment' has 138363 unique categories

In [29]:
# Print numerical columns
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'float64':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3780 unique categories
Feature 'Track_position' has 30 unique categories
Feature 'Top_speed' has 175 unique categories
Feature 'prize_money' has 7205 unique categories

In [ ]:
final_df.isnull().sum()

In [31]:
final_df.duplicated()

189       False
191       False
297       False
387       False
432       False
          ...
744325    False
744327    False
744328    False
744345    False
744346    False
Length: 140439, dtype: bool

In [32]:
final_df['Date']= pd.to_datetime(final_df['Date'])
final_df.head(5)

,race_ID,Date,course,race_name,Distance_covered,Track_condition,season,race_group,race_type,Race_Money,...,age,Weight,Gear,Top_speed,sire,dam,damsire,comment,Winner,prize_money
189,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,5,157,t,93.0,Desert Style (IRE),Lough N Uisce (IRE),Boyne Valley,Held up - progress into mid-division halfway -...,0,852.0
191,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,4,150,t,79.0,Bob Back (USA),Guest Cailin (IRE),Be My Guest,Mid-division 8th approaching 3 out - 6th after...,0,0.0
297,RID1960-IE-05,2005-12-29,other,Noel Kierans Memorial INH Flat Race,3600,other,5,Bumper,Even,10122.0,...,5,161,t,36.0,Witness Box (USA),Welsh Sitara (IRE),Welsh Term,Led and disputed - strongly pressed and headed...,0,1690.5
387,RID1854-IE-05,2005-12-11,other,J.B.C. Maiden Hurdle,3200,other,5,Hurdle,Handicap,12532.0,...,4,161,t,33.0,Croco Rouge (IRE),Petit Point (IRE),Petorius,Chased leaders - closer in 2nd 3 out - led fro...,1,8983.0
432,RID2335-IE-05,2006-04-16,other,tote.ie Novice Handicap Hurdle,3200,other,5,Hurdle,Handicap,21690.0,...,5,134,t,89.0,Zaffaran (USA),Native Lisa (IRE),Be My Native,Towards rear - stayed on well from 3 out,0,697.5

In [33]:
final_df.reset_index(drop=True, inplace=True)

In [34]:
final_df.head(2)

,race_ID,Date,course,race_name,Distance_covered,Track_condition,season,race_group,race_type,Race_Money,...,age,Weight,Gear,Top_speed,sire,dam,damsire,comment,Winner,prize_money
0,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,5,157,t,93.0,Desert Style (IRE),Lough N Uisce (IRE),Boyne Valley,Held up - progress into mid-division halfway -...,0,852.0
1,RID1169-IE-05,2005-06-02,other,Sheilas Cottage (Mares) Maiden Hurdle,3200,other,5,Hurdle,Handicap,11568.0,...,4,150,t,79.0,Bob Back (USA),Guest Cailin (IRE),Be My Guest,Mid-division 8th approaching 3 out - 6th after...,0,0.0

In [ ]:
final_df[final_df.duplicated(keep=First)]

In [38]:
final_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
140434    False
140435    False
140436    False
140437    False
140438    False
Length: 140439, dtype: bool

In [35]:
final_df.dtypes

race_ID                     object
Date                datetime64[ns]
course                      object
race_name                   object
Distance_covered             int64
Track_condition             object
season                       int64
race_group                  object
race_type                   object
Race_Money                 float64
horse_name                  object
Trainer                     object
Jockey                      object
Track_position             float64
age                          int64
Weight                       int64
Gear                        object
Top_speed                  float64
sire                        object
dam                         object
damsire                     object
comment                     object
Winner                       int64
prize_money                float64
dtype: object

In [36]:
# Data for creating sql database
final_df.to_csv('horse_databases.csv', index=False)

In [37]:
final_df.dtypes

race_ID                     object
Date                datetime64[ns]
course                      object
race_name                   object
Distance_covered             int64
Track_condition             object
season                       int64
race_group                  object
race_type                   object
Race_Money                 float64
horse_name                  object
Trainer                     object
Jockey                      object
Track_position             float64
age                          int64
Weight                       int64
Gear                        object
Top_speed                  float64
sire                        object
dam                         object
damsire                     object
comment                     object
Winner                       int64
prize_money                float64
dtype: object